{% extends "base.html" %}
{% load static %}


{% block title %}Password Change{% endblock title %}


{% block extra_css %}
<!-- STYLESHEET -->
<link rel="stylesheet" href="{% static 'css/registration/password_change_form.css' %}">
{% endblock %}


{% block content %}

<!-- PASSWORD CHANGE PAGE -->
<main class="content-wrapper">
    <div class="change-card">

        <!-- CARD HEADER -->
        <div class="card-header">
            <h1>Password Change</h1>
            <p>
                Please enter your old password, for security's sake, and then enter your
                new password twice so we can verify you typed it in correctly.
            </p>
        </div>


        <!-- PASSWORD CHANGE FORM -->
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- SUBMIT BUTTON -->
            <input class="btn btn-success" type="submit" value="Change my password">
        </form>


        <!-- CANCEL LINK -->
        <footer class="go-back">
            <a href="{% url 'login' %}">Cancel and return</a>
        </footer>

    </div>
</main>

{% endblock content %}