{% extends "base.html" %}
{% load static %}


{% block title %}Set a New Password{% endblock %}


{% block extra_css %}
<!-- STYLESHEET -->
<link rel="stylesheet" href="{% static 'css/registration/password_reset_confirm.css' %}">
{% endblock %}


{% block content %}

<!-- PASSWORD RESET CONFIRM PAGE -->
<main class="content-wrapper">
  <div class="reset-card">

    <!-- CARD HEADER -->
    <header class="card-header">

      <!-- APP NAME -->
      <div class="app-name">
        <h1>Student Grids</h1>
      </div>

      <h2>New Password</h2>
      <p>Please enter and confirm your new credentials</p>

    </header>


    <!-- RESET PASSWORD FORM -->
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      <!-- SUBMIT BUTTON -->
      <button type="submit">Change Password</button>
    </form>


    <!-- BACK TO LOGIN LINK -->
    <a class="go-back" href="{% url 'login' %}">Back to Log In</a>

  </div>
</main>

{% endblock %}